---
import Layout from '../layout.astro'
import {loadQuery} from '../load-query'

const {data: movies} = await loadQuery<Array<{title: string}>>({
  query: `*[_type == 'movie']`,
})
---

<Layout title="Movies">
  <h1>Movies</h1>
  <ol>
    {movies.map((movie) => <li>{movie.title}</li>)}
  </ol>
</Layout>
