---
import Layout from '../layout.astro'
import {getLiveCollection} from 'astro:content'

const {entries, error} = await getLiveCollection('movie')
const movies = (entries ?? []).map((entry) => ({
  _id: entry.id,
  title: entry.data.title ?? 'Untitled movie',
}))

if (error) {
  throw error
}
---

<Layout title="Movies">
  <h1>Movies</h1>
  <ol>
    {
      movies.map((movie) => (
        <li>
          <a href={`/movies/${encodeURIComponent(movie._id)}`}>{movie.title}</a>
        </li>
      ))
    }
  </ol>
</Layout>
