---
import {sanityClient}  from "sanity:client";
import { NewsBar } from "../components/NewsBar";
import Layout from "../layouts/Layout.astro";

const client = sanityClient;
const posts = await client.fetch(`*[_type == "post" && defined(publishedAt)] | order(publishedAt desc)`);
---

<Layout title="Sanity.io blog">
		<h1>Sanity.io blog</h1>
		<ul>
			{posts.map((post: any) => (
				<li>
					<a href={'/posts/' + post.slug.current} class="post-link">
						{post.title}
					</a>
				</li>
			))}
	</ul>
</Layout>
