---
import Layout from '../layout.astro'
import {getCollection} from 'astro:content'

const movies = await getCollection('movies')

const sortedMovies = movies
  .slice()
  .sort((a, b) => String(a.data.title ?? '').localeCompare(String(b.data.title ?? '')))
---

<Layout title="Movies">
  <h1>Movies</h1>
  <p>Loaded {sortedMovies.length} movies from the Astro collection.</p>
  <ol>
    {
      sortedMovies.map((movie) => (
        <li>
          <a href={`/movies/${encodeURIComponent(movie.id)}`}>{movie.data.title ?? movie.id}</a>
        </li>
      ))
    }
  </ol>
</Layout>
